.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .datasets {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .dataset {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      gap: 10px;

      &.selected {
        background-color: #e0e0e0;
      }

      &.imported {
        opacity: 0.5;
      }

      .screenshot {
        svg {
          width: 40px;
          height: 40px;
        }
      }

      .dataset-name {
        flex-grow: 1;
      }
      .dataset-length {
        font-style: italic;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: self-end;

    button {
      width: 100px
    }
  }
}
